.offer-flex {
    display: flex;
    justify-content: space-between;
    margin: 6rem;
    height: 70%;

    @media only screen and (max-width: $bp-large) {
        display: grid;
        grid-template-columns: 49% 49%;
        grid-gap: 2%;
    }

    @media only screen and (max-width: $bp-mobile) {
        display: flex;
        flex-direction: column;
    } 

    @media only screen and (max-width: $bp-mobile-m) {
        margin: 4rem 2rem;
    } 
}

.offer {
    width: 23%;
    height: 100%;
    border: 1px solid var(--color-blue-light-3);
    box-shadow: 0 2rem 6rem rgba(0,0,0,.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;

    @media only screen and (max-width: $bp-large) {
        width: 100%;
    }

    @media only screen and (max-width: $bp-mobile) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;

        &:not(:last-child) {
            margin-bottom: 2rem;
        }
    } 

    &__icon {
        height: 8rem;
        width: 8rem;
        margin-top: 1rem;

        @media only screen and (max-width: $bp-mobile) {
            width: 5rem;
            height: 5rem;
            margin-right: 1.5rem;
        } 
    }

    &__list {
        margin: 1rem;
        list-style: none;
    }

    &__item {
        font-size: 1.5rem;
        font-family: inherit;
        line-height: 2rem;
        letter-spacing: .2rem;
        text-align: center;
        margin: 1rem;
    }

    &__item::before {
        content: "";
        width: 1rem;
        height: 1rem;
        display: inline-block;
        margin-right: .7rem;
        background-color: $color-blue-light-3;
        -webkit-mask-image: url(../../img/checkmark.svg);
        -webkit-mask-size: cover;
        mask-image: url(../../img/checkmark.svg);
        mask-size: cover;
        background-image: none;
    }
}