.u-center-text {text-align: center;}


.u-margin-top-small {margin-top: 6rem;}
.u-margin-top-big {margin-top: 7rem;}
.u-margin-top-huge {margin-top: 9rem;}

.u-margin-six {
    margin-left: 6rem;
    margin-right: 6rem;
}

.u-margin-bottom-small {margin-bottom: 5rem;}
.u-margin-bottom-medium {margin-bottom: 6rem;}
.u-margin-bottom-big {margin-bottom: 7rem;}